@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-pink {
  background-color: rgb(250, 242, 228);
}
.bg-wh {
  background-color: rgb(245, 245, 245);
}

@media (min-width: 769px) {
  .ph-5-lg {
    margin-left: 4rem;
    display: flex;
    align-items: center;
  }
}

.lets-do {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-size: 2.5rem !important;
}

::placeholder {
  color: rgba(0, 0, 0, 0.144);
}
.remove-padding {
  margin-top: -1rem;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
form {
  padding: 1rem;
}
input {
  flex: 3;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(230, 230, 230);
}
button[type="submit"] {
  flex: 2;
  padding: 0.5rem 1rem;
  border: 1px solid green;
  background-color: green;
  color: white;
}
@media (max-width: 480px) {
  input {
    width: 100%;
  }
  button[type="submit"] {
    width: 100%;
  }
}
.leaf-feed-container {
  display: flex;
}

/* .feed { */
/* transform: rotateX(30deg); */
/* transform-origin: 100%; */
/* transform: rotateX(60deg) rotateZ(29deg) rotateY(0deg); */
/* transform-style: preserve-3d; */
/* transform-origin: 0 0 0;
  perspective: 900px; */
/* transform: rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);

  transform-style: preserve-3d; */
/* } */
/* .feed-image { */
/* clip: rect(0em, 18.5em, 23.1em, 0em); */
/* } */

.leaf {
  padding-top: 3rem;
}

.clik {
  font-size: 4rem;
}

.clik + p {
  font-size: 1.5rem;
}

.green {
  background-color: green;
}

.why p {
  color: gray;
}

.my-card {
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
}

.card-a,
.card-btn {
  color: white;
  padding: 0.4rem;
  text-decoration: none;
  border-radius: 5px;
}
.card-btn {
  background-color: green;
}

.card-a {
  border: 2px solid white !important;
  font-size: 1.2rem;
}

.card-a:hover,
.card-btn:hover {
  color: white;
  transform: scale(1.05);
}

.white {
  color: white;
}

.supporters {
  border: 1px solid red;
  background-color: red;
}

.big {
  height: 500px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: white;
  padding: 0.8rem 2rem;
}

footer div {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
footer div:first-of-type {
  font-size: 0.8rem;
}

footer div > * {
  margin-right: 0.5rem;
}

@media (max-width: 480px) {
  .hide-xs {
    display: none !important;
  }
}

@media (min-width: 481px) {
  .hide-md {
    display: none !important;
  }
}

video {
  width: 100%;
  max-width: 300px;
}
